@import "../../style/variables.scss";

.char {
    &__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__content {
        position: relative;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 650px 425px;
        column-gap: 25px;
        align-items: start;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        column-gap: 25px;
        row-gap: 30px;

    }
    &__item {
        perspective: 400px;
        transition: 500ms;
        border-radius: 20px;
        width: 200px;
        height: 318px;
        background-color: $dark;
        padding: 15px;
        cursor: pointer;
        transition:all 300ms ;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 200px;
            height: 200px;
            object-fit: cover;
            transform: translate(-15px, -15px);
        }
        &_selected.char__item_selected {
            box-shadow: 0 5px 20px $main-color;
            transform: scale(0.9);
            transition: all 300ms;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
        &-enter {
            transform: translateX(-750px) rotate(90deg);
        }
        &-enter-active {
            transform: translateX(-750px) rotate(90deg);
            transition: all 500ms;
        }
        &-enter-done {
            transform: translateX(0) rotate(0deg);
            transition: all 500ms;
        }
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
        color: #fff;
    }
}
